<nav class="navbar navbar-expand-md navbar-dark bg-primary" aria-label="Fourth navbar example">
  <div class="container-fluid">
    <a [routerLink]="['/']" class="navbar-brand d-md-none">Concert-Info Site</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarsExample04">
      <a [routerLink]="['/']" class="navbar-brand d-none d-md-block">Concert-Info Site</a>

      <div class="d-flex flex-column flex-md-row align-items-center">
        <ul class="navbar-nav mb-2 mb-md-0 text-center text-md-start">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">北部</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="#">基隆</a></li>
              <li><a class="dropdown-item" href="#">台北</a></li>
              <li><a class="dropdown-item" href="#">新北</a></li>
              <li><a class="dropdown-item" href="#">桃園</a></li>
              <li><a class="dropdown-item" href="#">新竹</a></li>
              <li><a class="dropdown-item" href="#">宜蘭</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">中部</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="#">苗栗</a></li>
              <li><a class="dropdown-item" href="#">台中</a></li>
              <li><a class="dropdown-item" href="#">彰化</a></li>
              <li><a class="dropdown-item" href="#">南投</a></li>
              <li><a class="dropdown-item" href="#">雲林</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">南部</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="#">嘉義</a></li>
              <li><a class="dropdown-item" href="#">台南</a></li>
              <li><a class="dropdown-item" href="#">高雄</a></li>
              <li><a class="dropdown-item" href="#">屏東</a></li>
              <li><a class="dropdown-item" href="#">澎湖</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">東部</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="#">花蓮</a></li>
              <li><a class="dropdown-item" href="#">台東</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">離島</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="#">金門</a></li>
              <li><a class="dropdown-item" href="#">連江</a></li>
            </ul>
          </li>
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>-->
<!--            <ul class="dropdown-menu" aria-labelledby="dropdown04">-->
<!--              <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--            </ul>-->
<!--          </li>-->
        </ul>
        <!-- 修改表單和輸入框 -->
        <form class="ms-md-3 mt-2 mt-md-0 d-flex" (ngSubmit)="onSearchSubmit(searchInput.value)" #searchForm="ngForm">
          <input
            #searchInput
            class="form-control me-2"
          type="text"
          placeholder="搜尋演唱會..."
          aria-label="Search"
          name="searchTerm"
          ngModel
          (keyup.enter)="onSearchSubmit(searchInput.value)"
          >
          <!-- 新增搜尋按鈕 -->
          <button class="btn btn-outline-light" type="submit">
          <i class="bi bi-search"></i> <!-- 使用 Bootstrap Icon -->
            <!-- 或者直接用文字 <span class="d-none d-sm-inline">搜尋</span> -->
          </button>
        </form>
      </div>

      <div class="d-none d-md-block" style="visibility: hidden; pointer-events: none;">
        <a class="navbar-brand" href="#">Concert-Info Site</a>
      </div>
    </div>
  </div>
</nav>
